*{
  box-sizing: border-box;
}

.booking_btn {
  display: inline-block;
  width: 200px;
  height: 200px;
  
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  
  font-size: 3em;
  font-weight: bold;
  
  border-radius: 50%;
}