*{
  box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.book_btn {
    display: inline-block;
    
    background-color: saddlebrown;
    background-image: url(Book_label.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: bottom -300px center;
    
    padding: 0px 2px;
    border-radius: 200px;
    
    
    transition: padding .3s ease-out .2s,
                background-position .2s ease-in .1s,
                box-shadow .2s ease-out .1s;
}

.book_btn:hover {
    padding-right: 200px;
    background-position: center;
    box-shadow: 5px 5px 0px rgba(255,0,0,.8);
    
    transition: padding .3s ease-out 0s,
                background-position .2s ease-out .2s;
}

/* Square logo */

